<html><head><style type="text/css">.turbolinks-progress-bar {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 3px;
  background: #0076ff;
  z-index: 9999;
  transition: width 300ms ease-out, opacity 150ms 150ms ease-in;
  transform: translate3d(0, 0, 0);
}</style>




    <link rel="stylesheet" media="all" href="/assets/application-d12397cbc3a266ce5a99f7b588223090c55ca04a439953bb5f9304395de93fc3.css" data-turbolinks-track="reload">
    <script src="/assets/application-4e370d3723b6f204426a9414077d365ea07814cce5619ae24fb7e581988f19ed.js" data-turbolinks-track="reload"></script>
  <title>WebCampBackendNew</title><meta name="csrf-param" content="authenticity_token"><meta name="csrf-token" content="V35Pk2Dp/EG1CeUvZbkCkihUr58BKGIeIrW+rIt5OPhQOAEu2kU5dOFxchtSlXsc0ukDnQTQRcjjijHtLhe7ow=="></head>

  <body>
    <p id="notice"></p>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>トラブル知らずのシステム設計</td>
        <td>システム設計の要点を図解で説明してくれます</td>
        <td><a class="show_263356" href="/books/263356">Show</a></td>
        <td><a class="edit_263356" href="/books/263356/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_263356" rel="nofollow" data-method="delete" href="/books/263356">Destroy</a></td>
      </tr>
      <tr>
        <td>たのしいRuby</td>
        <td>Rubyの入門におすすめです</td>
        <td><a class="show_263357" href="/books/263357">Show</a></td>
        <td><a class="edit_263357" href="/books/263357/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_263357" rel="nofollow" data-method="delete" href="/books/263357">Destroy</a></td>
      </tr>
      <tr>
        <td>達人プログラマー</td>
        <td>プログラマ入門者は必読！</td>
        <td><a class="show_263360" href="/books/263360">Show</a></td>
        <td><a class="edit_263360" href="/books/263360/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_263360" rel="nofollow" data-method="delete" href="/books/263360">Destroy</a></td>
      </tr>
      <tr>
        <td>データベース実践入門</td>
        <td>効率的なSQL文を教えてくれます</td>
        <td><a class="show_263361" href="/books/263361">Show</a></td>
        <td><a class="edit_263361" href="/books/263361/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_263361" rel="nofollow" data-method="delete" href="/books/263361">Destroy</a></td>
      </tr>
      <tr>
        <td>嫌われる勇気</td>
        <td>明日から誰でも幸せになれる</td>
        <td><a class="show_263363" href="/books/263363">Show</a></td>
        <td><a class="edit_263363" href="/books/263363/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_263363" rel="nofollow" data-method="delete" href="/books/263363">Destroy</a></td>
      </tr>
      <tr>
        <td>テスト</td>
        <td>明日から誰でも幸せになれる</td>
        <td><a class="show_263364" href="/books/263364">Show</a></td>
        <td><a class="edit_263364" href="/books/263364/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_263364" rel="nofollow" data-method="delete" href="/books/263364">Destroy</a></td>
      </tr>
      <tr>
        <td>テスト2</td>
        <td>テスト2
</td>
        <td><a class="show_263365" href="/books/263365">Show</a></td>
        <td><a class="edit_263365" href="/books/263365/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_263365" rel="nofollow" data-method="delete" href="/books/263365">Destroy</a></td>
      </tr>
      <tr>
        <td>test</td>
        <td>test</td>
        <td><a class="show_263366" href="/books/263366">Show</a></td>
        <td><a class="edit_263366" href="/books/263366/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_263366" rel="nofollow" data-method="delete" href="/books/263366">Destroy</a></td>
      </tr>
      <tr>
        <td>test2</td>
        <td>test2</td>
        <td><a class="show_263367" href="/books/263367">Show</a></td>
        <td><a class="edit_263367" href="/books/263367/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_263367" rel="nofollow" data-method="delete" href="/books/263367">Destroy</a></td>
      </tr>
      <tr>
        <td>test3</td>
        <td>test3</td>
        <td><a class="show_263368" href="/books/263368">Show</a></td>
        <td><a class="edit_263368" href="/books/263368/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_263368" rel="nofollow" data-method="delete" href="/books/263368">Destroy</a></td>
      </tr>
  </tbody>
</table>


<h2>New book</h2>
<form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="yMioUL8gYleg3WJxMbDBKUtLdn/YnALrbMdoqcPcF0YnwXLldFvLvHLzgLFMk43G8KR2lIRKpK+qmVzUh/alug==">

  <div class="field">
    <label for="book_title">Title</label>
    <input class="book_title" type="text" name="book[title]" id="book_title">
  </div>

  <div class="field">
    <label for="book_body">Body</label>
    <textarea class="book_body" name="book[body]" id="book_body"></textarea>
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Create Book" data-disable-with="Create Book">
  </div>
</form>


</body></html>
