  <h4>Title:</h4>
  <%= @book.title %>

 <h4>Body:</h4>
  <%= @book.body %>


  <!--<%= link_to"Edit",book_path(@book) %>-->
  <%= link_to"Edit","/books/#{@book.id}/edit" %>

<a class="back" href="/books">Back</a>
