<html><head>
    <title>WebCampBackendNew</title>
    <meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="9h8KRjU0aGV+GPi1pHEXW2k2ddV2A+EazqdJ9cSsk03xWUT7j5itUCpgb4GTXW7Vk4vZ13P7xswPmMa0YcIQFg==">

    <link rel="stylesheet" media="all" href="/assets/application-d12397cbc3a266ce5a99f7b588223090c55ca04a439953bb5f9304395de93fc3.css" data-turbolinks-track="reload">
    <script src="/assets/application-4e370d3723b6f204426a9414077d365ea07814cce5619ae24fb7e581988f19ed.js" data-turbolinks-track="reload"></script>
  </head>

  <body>
    <p id="notice">Book was successfully created.</p>

<p>
  <strong>Title:</strong>
  test!
</p>

<p>
  <strong>Body:</strong>
  aa
</p>

<a class="edit_263603" href="/books/263603/edit">Edit</a> |
<a class="back" href="/books">Back</a>



</body></html>